// :global(.circle), :global(.hamburger-holder) {
//   // background: none;
// }
:global(#toolbar .scores) {
  color: #D8D8D8;
  font-size: 12px;
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
}

:global(button.circle) {
  // width: 40px;
  // height: 40px;
  position: relative;
  background: none;
  border: none;
  // width: 40px;
  // height: 35px;

  :global(img) {
    position: absolute;
    background: none;
    top: -5px;
    left: -5px;
    width: 40px;
    height: 40px;
  }
}

:global(button.hamburger-holder) {
  // width: 40px;
  // height: 40px;
  position: relative;
  background: none;
  border: none;
  // width: 40px;
  // height: 35px;
  :global(.close-icon) {
    transform: rotateZ(-35deg);
  }

  :global(img) {
    position: absolute;
    background: none;
    top: -5px;
    left: -5px;
    width: 40px;
    height: 35px;
  }
}


// :global(.hamburger-holder) {
//
// }
