.settings {
  color: #D8D8D8;

  position: absolute;
  height: calc(100% - 64px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  :global(.heading) {
    flex: 2;
  }

  :global(.controls) {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    :global(h2) {
      display: flex;
      justify-content: center;
      padding: 20px
    }
  }

  :global(.settings-options) {
    margin-top: 20px
  }

  :global(.heading) {
    font-size: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  :global(#sounds-label) {
    font-size: 25px;
  }

  :global(.oauthButton) {
    display: flex;
    justify-content: center;
  }

  :global(ul) {
    list-style: none;
    padding: 0;
    display: flex;
    min-width: 240px;
  }

  :global(li) {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    :global(.checkbox_wrapper) {
      border: 2px solid black;
      position: relative;
      height: 16px;
      width: 17px;
    }

    input[type=checkbox] {
      opacity:0;
      height: 28px;
      width: 25px;
      top: -10px;
      left: -8px;
      position: absolute;
      // z-index: 2;
    }

    input[type=checkbox] + :global(.image_wrapper) {
      height: 28px;
      width: 25px;
      top: -9px;
      left: -6px;
      position: absolute;

      img {
        height: 28px;
        width: 25px;
        position: absolute;
        opacity: 0;
      }
    }

    input[type=checkbox]:checked + :global(.image_wrapper) {
      img {
        opacity: 1;
      }
    }


  }
}
