:global(.button-holder) {
  font-size: 20px;
  color: #ffffff;
  padding: 0px;
  background: #31546d;
  border: solid #31546d 1px;
}

:global(.inner-button) {
  z-index: 1;
  background: #aa1303;

  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.button-edge) {
  background: #aa1303;
}

.leftImageEdge, .rightImageEdge {
  position: absolute;
}

.leftImageEdge {
  top: -1px;
  left: 0;
}

.rightImageEdge {
  right: -1px;
}
