.navbar
  position: absolute
  height: 100%
  width: 80%
  z-index: 3
  background: #31546D
  box-shadow: 1px 0px 15px black
  transform: translateX(-102%)
  transition: transform 0.3s

  color: #D8D8D8

  ul
    list-style: none
    padding: 0

  li
    display: flex
    justify-content: flex-start
    align-items: center
    height: 48px
    width: 90%
    margin: 0 auto
    border-bottom: 1px solid rgba(151, 151, 151, 0.5)
    cursor: pointer

    span
      margin-left: 16px

  li:first-child
    margin-top: 30px
    margin-bottom: 10px
    font-size: 18px
    border-bottom: 2px solid #979797

    span
      margin-left: 8px

.navbar:global(.open)
  transform: translateX(0)
